body {
	background-color: white;
	font-family: 'Muli-Light';
	margin: 0;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
	margin-right: 9em;
	margin-bottom: 5em;
}

td{
	width: 17em;
}

caption{
	margin-bottom: 2em;
}

#panel-right{
	margin-right: 6em;
	margin-top: 3em;
	style="text-align: right;"
	position: absolute;
	float: right;
}

#inventory{
	margin-right: 1em;
	margin-left: 15em;
	margin-top: 13em;
}
