<!doctype html>
<head>
    <meta charset="utf-8">
    <title>The Report</title>
</head>
<body>
    <br><br>
    <h1>The Report</h1>
    <div id="panel-right">
      <p><strong>Organization:</strong> {% if organization %} {{organization}} {% else %} Unknown organization {% endif %}</p>
      <p><strong>Reported:</strong> {% if reported_at %} {{reported_at}} {% else %} Unknown reported date {% endif %}</p>
      <p><strong>Created:</strong> {% if created_at %} {{created_at}} {% else %} Unknown creation date {% endif %}</p>
    </div>
    <br>
    <div>
      <table id="inventory">
        <caption><h3><strong>Inventory</strong></h3></caption>
        <td><strong>Name</strong></td>
        <td><strong>Price</strong></td>
        {% for item in inventory %}
          <tr>
            <td>{% if item['name'] %}{{item['name']}} {% else %} {% endif %}</td>
            <td>£{% if item['price'] %} {{ item['price'] }} {% else %} 0 {% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
</body>
